$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$color-primary: #003859;
// $color-second: #48cae4;
$color-second: #0099e6;
$color-yellow: #ffd289;
